<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>A Web Page</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'user/css/foundation.css' %}" />
        <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
    <style>
        * {
            color: white;
        }

        label {
            color: white;
        }
        body{
            background-image: url('../static/user/img/header_big_anim2.gif');
            background-repeat: no-repeat;
            background-position: center;
            background-color: #222327;
            
        }
        button{
            background-color: seashell;
            color: rgb(216, 9, 9);
            border: 2px solid red;
            
        }
    </style>
    <body>
        <div id="wrapper">
            <div id="activities">
                <div>
                    <h2>Register</h2>
                    <form name="register" id="register" action="register" method="POST">
                        {% csrf_token %}
                        <label>
                            Username:
                            <input type="text" name="username"/>
                            <span class="error">
                            {% for message in messages %}
                                {% if message.tags == 'username error' %}
                                    {{message}}
                                {% endif %}
                                {% if message.tags == 'duplicate2 error' %}
                                    {{message}}
                                {% endif %}
                            {% endfor %}
                            </span>
                        </label>
                        <br />
                        <label>
                            Email:
                            <input type="text" name="email" />
                            <span class="error">
                                {% for message in messages %}
                                    {% if message.tags == 'email error' %}
                                        {{message}}
                                    {% endif %}
                                    {% if message.tags == 'duplicate error' %}
                                        {{message}}
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </label>
                        <br />
                        <label>
                            Password:
                            <input type="password" name="password" />
                            <span class="error">
                            {% for message in messages %}
                                {% if message.tags == 'password error' %}
                                    {{message}}
                                {% endif %}
                            {% endfor %}
                            </span>
                        </label>
                        <label>
                            Retype Password:
                            <input type="password" name="password2" />
                            <span class="error">
                            {% for message in messages %}
                                {% if message.tags == 'passwordmatch error' %}
                                    {{message}}
                                {% endif %}
                            {% endfor %}
                            </span>
                        </label>
                        <br />
                        <button type="submit" id="regsubmit">Add</button>
                    </form>
                </div>
                <div>
                    <h2>Login</h2>
                    <form action="login" method="POST">
                        {% csrf_token %}
                        <label>
                            Email:
                            <input type="text" name="email" />
                            <span class="error">
                                {% for message in messages %}
                                    {% if message.tags == 'loginerr error' %}
                                        {{message}}
                                    {% endif %}
                                    {% if message.tags == 'email2 error' %}
                                        {{message}}
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </label>
                        <br />
                        <label>
                            Password:
                            <input type="password" name="password" />
                            <span class="error">
                            {% for message in messages %}
                                    {% if message.tags == 'loginerr error' %}
                                        {{message}}
                                    {% endif %}
                                    {% if message.tags == 'password2 error' %}
                                        {{message}}
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </label>
                        <br />
                        <button type="submit">Log In</button>
                    </form>
                    
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'user/js/script.js' %}"></script>
    </body>
</html>
