<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url(../static/user/img/world.jpg);
        }
        .instruction{
            text-align: center;
        }
        h1{
            font-size: 60px;
        }
        p{
            font-size: 25px;
            color:rgb(0, 0, 0);
        }
        a{
            font-size: 30px;
        }
    </style>
</head>
<body>
    <div class="instruction">
        <h1>Hello!!!</h1>
        <p>By reading this page, you going to find out how to play this cool Game.</p>
        <p1 style="text-decoration: underline; font-size: 25px;">Detailed instruction: </p1> <br>
        <p>Click start the game <br>
            Click build towers <br>
            Build your towers <br>
            Use your towers to protect your base from goblins <br>
            You trying to use your resourses(Gold) to biuld towers to protect your base <br>

        </p>
        <a href="/back">Go back</a>
    </div>
</body>
</html>