<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url(../static/user/img/world.jpg);
        }
        .instruction{
            text-align: center;
            background-color: rgb(32, 178, 110);
            width: 700px;
            margin: auto;
            padding: 10px;
        }
        h1{
            font-size: 60px;
        }
        p{
            font-size: 25px;
            color:rgb(0, 0, 0);
        }
        a{
            font-size: 30px;
        }
    </style>
</head>
<body>
    <div class="instruction">
        <h1>Hello!!!</h1>
        <p>Here's how to play the game:</p>
        <p> Click build, then select the tower<br>
            Build your towers until you're out of gold<br>
            Zombies will spawn at the cave <br>
            The zombies will find the fastest route to your base <br>
            Protect your keep! <br>
        </p>
        <a href="/landing">Go back</a>
    </div>
</body>
</html>