<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Account</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'user/css/foundation.css' %}" />
        <link rel="stylesheet" href="{% static 'user/css/dashstyle.css' %}">
    </head>
    <body>
        
        <div id="wrapper">
            <div id="header">
                <h2>Welcome {{logged_in_user.username}}!</h2>
            </div>
            <div id="pagebody">
                <a href="/google.com">Start Game</a>
                <h3>Last Game's Score(score goes here)</h3>
                <a href="/edit_user_info/{{logged_in_user.id}}">Edit User </a>
                
            </div>
            <a href="logout">Logout</a>
            
            
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'user/js/script.js' %}"></script>
    </body>
</html>
