:root {
    --pribackground: brown;
    --secbackground: brown;
    --accent: red;
}

* {
    color: rgb(118, 160, 202);
    font-family: fantasy;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

#container {
    background: url("moss-texture.png");
    width: 1800px;
    height: 1000px;
    background-size: 20px, 20px;
}

/* 
#mode {
    position: absolute;
    height: 50px;
    width: 100px;
    background-color: cadetblue;
} */

.building {
    position: absolute;
    width: 50px;
    height: 50px;
}

.wall {
    background: url(wall.png);
    width: 50px;
    height: 50px;
}

.flag {
    background: url(flag.png);
    width: 50px;
    height: 50px;
}

#prebuild {
    width: 50px;
    height: 50px;
    display: none;
    pointer-events: none;
}

.tower {
    background: url(tower.png);
    width: 50px;
    height: 50px;
}

#build {
    padding: 5px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 870px;
    left: 50px;
    text-align: center;
    background-color: var(--pribackground);
    outline: solid 5px var(--accent);
    font-size: x-large;
    filter: grayscale(50%);
}

#menu {
    padding: 5px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 870px;
    left: 200px;
    text-align: center;
    /* color: antiquewhite; */
    background-color: var(--pribackground);
    outline: solid 5px var(--accent);
}

#buildmenu {
    padding: 5px;
    min-width: 150px;
    height: 90px;
    position: absolute;
    top: 750px;
    left: 50px;
    text-align: center;
    background-color: var(--secbackground);
    outline: solid 5px var(--accent);
    display: flex;
    justify-content: space-evenly;
}

.selected {
    outline: 1px solid white;
    /* background-color: darkblue; */
}

#buildmenu div {
    height: 70px;
    width: 100px;
    background-color: var(--pribackground);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#resources {
    height: 40px;
    width: 650px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    top: 5px;
    left: 5px;
    background-color: var(--pribackground);
    outline: solid 5px var(--accent);
}

#pizza {
    top: 950px;
    left: 450px;
}

#woodstock {
    top: 950px;
    left: 550px;
}

#quarry {
    top: 950px;
    left: 650px;
}

.resourcebtn {
    height: 40px;
    width: 75px;
    position: absolute;
    background-color: var(--pribackground);
    box-shadow: black;
    border-radius: 10px;
    text-align: center;
}

#notification {
    color: crimson;
    font-size: larger;
    position: absolute;
    /* top: 250px; */
    /* left: 500px; */
    display: none;
    pointer-events: none;
}

#selected_unit {
    background-color: darkblue;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 850px;
    left: 1650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.overlay {
    box-shadow: 0px 0px 10px 2px black;
}

#littletab {
    position: absolute;
    top: 750px;
    left: 1750px;
    height: 100px;
    width: 50px;
    background-color: coral;
    /* background-image: url(chevron.png); */
}

#consoletab {
    position: absolute;
    /* display: none; */
    top: 850px;
    left: 1450px;
    height: 150px;
    width: 350px;
    background-color: palegreen;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.unit {
    position: absolute;
    height: 50px;
    width: 50px;
}

.goblin {
    /* background-color: palevioletred; */
    background-image: url(goblin1.png);
}