<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Game</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'game/css/foundation.css' %}" />
        <link rel="stylesheet" href="{% static 'game/css/peanut.css' %}" />
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKxs3GPbtdZdBdmuywwJI4sR4RnCfXTuE&callback=initMap&libraries=&v=weekly"
            defer
        ></script>
        <script src="{% static 'game/js/timmy.js' %}" defer></script>
    </head>
    <body>
        <div id="map" onmousemove="getPos(event)"></div>
        <div id="resources" class="overlay"></div>
        <div id="enemies"></div>
        <div id="buildmenu">
            <div id="buildtower" bldgtype="tower">
                Tower
                <img
                    id="towersrc"
                    src="{% static 'game/img/tower.png' %}"
                    alt=""
                />
            </div>
        </div>
        <div id="littletab" class="overlay">
            <p>Console</p>
            <img src="{% static 'game/img/chevron.png' %}" alt="">
        </div>
        <div id="consoletab" class="overlay"><p></p></div>
        <div id="selected_unit" class="overlay"></div>
        <div id="notification"></div>
        <div id="recenter">Recenter on Keep</div>
        <div id="buildings"></div>
        <div id="units"></div>
        <div id="prebuild" class="building"></div>
        <div id="sneaky">
            <h3>Game Over!</h3>
            <p id="finalscore">Final Score: </p>
            <p id="finalround"> Final Round: </p>
            <a href="/scoreboard">Leaderboards</a>
        </div>
        <div id="build" class="overlay">Build</div>
        <div id="menu" class="overlay">Start Round</div>
        <div id="loaded_images" style="display: none">
            
            {% csrf_token %}
            <img id="wallsrc" src="{% static 'game/img/wall.png' %}" alt="" />
            <img
                id="flagsrc"
                src="{% static 'game/img/goblin1.gif' %}"
                alt=""
            />
            <img id="cavesrc" src="{% static 'game/img/cave.png' %}" alt="" />
            <img
                id="goblin1src"
                src="{% static 'game/img/goblin1.png' %}"
                alt=""
            />
            <img
                id="goblin2src"
                src="{% static 'game/img/goblin2.png' %}"
                alt=""
            />
            <img
                id="explodesrc"
                src="{% static 'game/img/explode.png' %}"
                alt=""
            />
            <img
                id="gravesrc"
                src="{% static 'game/img/grave.png' %}"
                alt=""
            />
            <img id="keepsrc" src="{% static 'game/img/keep.png' %}" alt="" />
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'game/js/script.js' %}"></script>
    </body>
</html>
